<h2 mat-dialog-title>
  Delete Car
</h2>

<mat-dialog-content>
  <p>Are you sure you want to delete the car "{{ this.data.car.name }}"?</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close (click)="delete()">
    @if (deleting()) {
      <mat-progress-spinner
        diameter="18"
        mode="indeterminate"
      ></mat-progress-spinner>
      <span class="ml-2">Saving...</span>
    } @else {
      Delete
    }
  </button>
</mat-dialog-actions>

@if (error()) {
  <mat-error>{{ error() }}</mat-error>
}

